@{
    ViewData["Title"] = "Independent Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<IndependentProject.Models.Settlement>

<h2>Settlements</h2>
<hr/>
<form action="settlementResult" class="results">
    <select name="name" id="name">
    <optgroup value="syria" label="syria">
        @foreach (var item in Model)
        {
            if (@item.instance_id == "syria")
            {
                <option value="@item.name||syria">@item.name</option>
                          }

        }
    </optgroup>
    <optgroup value="burundi" label="Burundi">
        @foreach (var item in Model)
        {
            if (@item.instance_id == "burundi")
            {
                <option value="@item.name||burundi">@item.name</option>

            }

        }
    </optgroup>
    <optgroup value="car" label="Central African Republic of Congo">
        @foreach (var item in Model)
        {
            if (@item.instance_id == "car")
            {
                <option value="@item.name">@item.name</option>

            }

        }
    </optgroup>
    </select>
    
    <input type="submit" value="send" />
</form>

    <div id="map-s"></div>

    <script>
        function charts(data)
        {
            var c = ChartType;
            var jsonData = data;
            google.load("visualization", "1", { packages: ["corechart"], callback: drawVisualization });
            function drawVisualization() {
                var data = new google.visualization.DataTable();
                console.log(jsonData.population[1])
                data.addColumn('string', 'Date');
                data.addColumn('number', 'Population');
                $.each(jsonData.population[1], function (i, jsonData) {
                    $.each(jsonData.timegraph, function (a, jsonData1) {
                        var name = jsonData1.data;
                        var value = parseFloat(jasonData1.total_individuals);
                        data.addRows([[name, value]]);
                    });
                });
               
               
                var chart;
                if (c == "PieChart")
                    chart = new google.visualization.PieChart(document.getElementById('map-s'));
                chart.draw(data);
            }

        }

        $('.results').submit(function (event) {
            event.preventDefault();
            var info = $("#name").val();
            var name = info.split("||")[0];
            var instance_id = info.split("||")[1];
            $.ajax({
                url: "http://data.unhcr.org/api/population/search.json?name=" + name +"&level=settlement&instance_id=" + instance_id,
                type: 'GET',
                cache: true,
                success: function (res) {
                    console.log(res);
                    charts(res)

                }

            });

        });
       
    </script>
